# Environment variables
.env
.env.*
!.env.example

# Agent secret
agentSecret.json

# Node modules
/node_modules

# OS files
.DS_Store
Thumbs.db

# Data
/data/*

# Deployment files
fly.toml
fly-deploy.sh
ecosystem.config.cjs
.dockerignore
Dockerfiledebug.log
src/close_all_positions.js
src/close_positions.js
