{
  "hl-agent-01": {
    "accountAddress": "0x...",
    "privateKey": "0x...",
    "privateKeyTestnet": "0x..."
  },
  "hl-agent-02": {
    "accountAddress": "0x...",
    "privateKey": "0x...",
    "privateKeyTestnet": "0x..."
  }
}
